.form-row {
    margin-top: 20px;
}

.actions-section-end {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
    width: 100% !important;
}

.actions-section-space-between {
    margin-top: 20px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
}


.bank-form-group {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    flex: 0 0 50%;
    width: 100% !important;
  }

.bank-form-input{
    flex: 0 0 80%;
    width: 100% !important;
}
.bank-form-label{
    flex: 0 0 20%;
    width: 100% !important;
}

.ui-radiobutton {
    display: flex;
    align-items: center;
    vertical-align: middle !important;
  }