.actions-section {
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
    width: 100% !important;
    gap: 10px;
    margin-top: 20px;
}

.form-row {
    margin-top: 16px;
}

.button-section {
    margin-left: 5px;
}

.p-font {
    font-weight: bold;
}