<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <div class="card">
        <!-- Header -->
        <div fxLayout="row" class="header">
            <h2>パスワード変更</h2>
        </div>

        <div fxLayout="row" fxLayoutGap="1rem" class="flex flex-column gap-3" [formGroup]="form">


            <label for="password">パスワードを入力してください</label>

            <input pInputText id="password" type="password" placeholder="パスワード" class="input-field"
                formControlName="password" />

            <input pInputText id="password_confirm" type="password" placeholder="パスワード確認" class="input-field"
                formControlName="password_confirm" />


            <!-- Register Button  to right-->
            <div fxLayoutAlign="end center" class="flex flex-row gap-3 button-container">
                <button pButton type="submit" icon="pi pi-save" label="パスワード変更" (click)="change()"></button>
            </div>

        </div>
    </div>