.upload-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 2px dashed #ccc;
  padding: 20px;
  color: #777;
  height: 300px;

  small {
    display: block;
    margin-top: 10px;
    font-size: 12px;
  }
}

.file-info {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}