<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <div class="card">
        <!-- Header -->
        <div fxLayout="row" class="header">
            <h2>パスワード変更忘れ</h2>
        </div>

        <div fxLayout="row" fxLayoutGap="1rem" class="flex flex-column gap-1">

            <div class="form-group">
                <label for="email">利用するメールアドレスを入力してください</label>
                <input pInputText id="email" type="email" placeholder="メールアドレス" class="input-field"
                    [(ngModel)]="mail" />
            </div>


            <!-- Register Button  to right-->
            <div fxLayoutAlign="end center" class="flex flex-row gap-3 button-container">
                <button pButton icon="pi pi-arrow-left" label="戻る" class="back-button" (click)="goBack()"></button>
                <button pButton type="submit" icon="pi pi-save" label="パスワード変更リンク送信" (click)="send()"></button>
            </div>

        </div>
    </div>