.form-container {
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.actions-section-end{
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
    width: 100% !important;
}

.actions-section-space-between{
    margin-top: 20px;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
}

.form-row {
    margin-top: 16px;
  }